<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Runner.Service.WeatherService" behaviorConfiguration="WeatherRunning">
        <endpoint address="" binding="customBinding" bindingConfiguration="HttpMtom" contract="Runner.Service.IWeatherService"/>
        <endpoint address="" binding="netTcpBinding" contract="Runner.Service.IWeatherService"/>
        <endpoint address="" binding="customBinding" bindingConfiguration="Pipe" contract="Runner.Service.IWeatherService"/>
      </service>
      <service name="Runner.Service.TrainningPlanService" behaviorConfiguration="WeatherRunning">
        <endpoint address="" binding="customBinding" bindingConfiguration="HttpMtom" contract="Runner.Service.ITrainningPlanService"/>        
        <endpoint address="" binding="netTcpBinding" contract="Runner.Service.ITrainningPlanService"/>        
        <endpoint address="" binding="customBinding" bindingConfiguration="Pipe" contract="Runner.Service.ITrainningPlanService"/>        
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="HttpMtom">
          <httpTransport/>
          <mtomMessageEncoding/>
        </binding>
        <binding name="Pipe">
          <namedPipeTransport/>
          <reliableSession/>
          <textMessageEncoding/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WeatherRunning">
          <serviceMetadata httpGetUrl="meta" httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
